* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}

#canvas {
    border: 2px solid black;
    margin-top: 10vh;
}



/***************************/
/******** UI STYLES ********/
/***************************/

#bg-img {
    position: absolute;
    width: 100vw;
    height: 120vh;
    top: -10vh;
}

#UI {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* display: grid;
    grid-template-areas:
    ". . board board . ."
    ". . . . . ."
    "controls controls . . menu menu"
    "controls controls . . menu menu"; */
}

#ui-board {
    /* grid-area: board; */
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 33vw;
    height: 200px;
}

#ui-board > img {
    position: absolute;
    top: 3vh;
    width: 600px;
    height: 150px;
    z-index: -1;
}


#ui-controls {
    /* grid-area: controls; */
    flex-grow: 1;
    position: relative;
    width: 33vw;
}

#ui-controls > img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 600px;
}


#ui-menu {
    /* grid-area: menu; */
    position: relative;
    width: 33vw; 
}

#ui-menu > img {
    position: absolute;
    bottom: 10vh;
    right: 4vw;
    width: 400px;
    height: 200px;
}