* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#canvas {
    border: 2px solid black;
}